// Colors:

$dd-white: #FFFFFF;
$dd-light: #FFD7A9;
$dd-dark: #220E0D;
$dd-dark-rgba: rgba(34, 14, 13, 100);
$dd-medium: #826754;
$dd-accent: #713024;
$dd-box-shadow: rgba(0, 0, 0, 0.25);

// Sizes:

$dd-header-height: 136px;
