<div class="home">
  <dd-header></dd-header>
  <div class="home__content">
    <div class="home__content-side-panel">
      <h1 class="home__content-side-panel-title font-side-panel-title">
        Manage Your Content Now!
      </h1>
      <div class="home__content-side-panel-divider"></div>
      <div class="home__content-side-panel-empty-list-view">
        <div class="home__content-side-panel-empty-list-view-message">
          <img src="assets/icons/d20.svg" class="home__content-side-panel-empty-list-view-message-icon">
          <h2 class="home__content-side-panel-empty-list-view-message-text font-home-page">Choose a category to manage</h2>
        </div>
      </div>
    </div>
    <div class="home__content-categories">
      <div class="home__content-categories-wrapper">
        <div class="home__content-categories-item">
          <dd-category-button></dd-category-button>
        </div>
        <div class="home__content-categories-item">
          <dd-category-button></dd-category-button>
        </div>
        <div class="home__content-categories-item">
          <dd-category-button></dd-category-button>
        </div>
        <div class="home__content-categories-item">
          <dd-category-button></dd-category-button>
        </div>
      </div>
    </div>
  </div>
</div>
