@import "../../../styles";

.btn {
  @extend .font-btn-large;
  display: flex;
  justify-content: start;
  align-items: start;

  &:hover {
    cursor: pointer;
    color: $dd-dark;
  }

  &:active {
    position: relative;
    top: 4px;
    left: -2px;
  }

  &__base {
    height: 112px;
    background-color: $dd-medium;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 6px 10px 4px rgba(0, 0, 0, 0.25);

    &-hover {
      @extend .btn__base;
      background-color: $dd-white;
    }
  }

  &__triangle {
    display: inline-block;
    width: 232px;
    height: 112px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: $dd-medium;
    box-shadow: 2px 6px 10px 4px rgba(0, 0, 0, 0.25);

    &-hover {
      @extend .btn__triangle;
      background-color: $dd-white;
    }

    //width: 0;
    //height: 0;
    //border-bottom: 112px solid transparent;
    //border-right: 112px solid transparent;
    //
    //border-top: 112px solid green;
    //position: relative;
    //top: 222px;
  }
}
